<doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
        {{ firstName + " " + lastName }}
    </div>

    <script src="js/myApp.js"></script>
    <script src="js/myCtrl.js"></script>
  </body>
</html>
<!--
	1. Install GIT
	2. Install node.js
	3. Install browser-sync
	4. Install atom.
	5. Create new repository in gIt
	6.  create readme file for that repository.
	7. Go to setting of the repository and make it  as GitHub Pages (select source as master branch)
	8. Copy link to clone the repository.
	9. Pate command on CMD in the directory created for the project C:\Users\hrathore\coursera-projects> git clone https://github.com/1hemant/coursera-test.git
	10. Cd to new dir created by cloning of the git and start atom >atom .
	11. Make index.html
	12. Start broser-sync  >browser-sync start --server --directory --files "**/*"
	13. Check git status >git status
	14. Add files to git >git add .
	15. Check the status >git status
	16. Commit the changes >git commit -m "First web file."
	17. Push the changes >git push


<div id="App1" ng-app="shoppingCart" ng-controller="ShoppingCartController">
      <h1>Your order</h1>
        
      <div ng-repeat="item in items">
        <span>{{item.product_name}}</span>
        <span>{{item.price | currency}}</span>
        <button ng-click="remove($index);">Remove</button>
      </div>
    </div>

    <div id="App2" ng-app="namesList" ng-controller="NamesController">
      <h1>List of Names</h1>
      <div ng-repeat="_name in names">
        <p>{{_name.username}}</p>
      </div>
    </div>
      

      
      <script>
          var shoppingCartModule = angular.module("shoppingCart", [])
            shoppingCartModule.controller("ShoppingCartController",
              function($scope) {
                $scope.items = [{
                  product_name: "Product 1",
                  price: 50
                }, {
                  product_name: "Product 2",
                  price: 20
                }, {
                  product_name: "Product 3",
                  price: 180
                }];
                $scope.remove = function(index) {
                  $scope.items.splice(index, 1);
                }
              }
            );
            var namesModule = angular.module("namesList", [])
            namesModule.controller("NamesController",
              function($scope) {
                $scope.names = [{
                  username: "Nitin"
                }, {
                  username: "Mukesh"
                }];
              }
            );
            angular.bootstrap(document.getElementById("App2"), ['namesList']);
      </script>
-->